## LaTeX auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.synctex(busy)
*.toc
*.lot
*.lof
*.low
*.nav
*.snm
*.vrb
*.xdv

## Generated output
*.pdf
*.docx
build/

## Editor files
*.swp
*~
#.vscode/

## OS files
Thumbs.db
.DS_Store
